/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a simple framework built on top of CSS
 * Custom properties, it's used for theming the default DocSaurus theme.
 */

/* You can override the default Infima CSS variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205340;
  --ifm-color-primary-light: #33a566;
  --ifm-color-primary-lighter: #3cad6e;
  --ifm-color-primary-lightest: #4bc881;
}

html[data-theme='dark'] {
  --ifm-color-primary: #4bc881;
}
